<div class="row registrationrow">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        Registration
      </div>
      <div class="card-body">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" novalidate class="form-horizontal row-border">
            <div class="form-group">
                <label for="FirstName">First Name</label>
                <input type="text" class="form-control" id="FirstName"  formControlName="FirstName" autocomplete="off" minlength="50">
                <div class="invalid-feedback" *ngIf="registrationForm.controls['FirstName'].touched && registrationForm.controls['FirstName'].valid">
                    <span *ngIf="registrationForm.controls['FirstName'].hasError('required')" class="SaaramshaRequired">
                      Please enter your first name.
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="LastName">Last Name</label>
                <input type="text" class="form-control" id="LastName"  formControlName="LastName" autocomplete="off" minlength="50">
            </div>

            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" class="form-control" id="Email"  formControlName="Email" autocomplete="off" minlength="150">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" [disabled]="registrationForm.valid">Save</button>
            </div>            
        </form>

      </div>
    </div>
  </div>
  <div class="col-md-8"></div>
</div>

<p>{{registrationForm.value | json}}</p>


